/* Navbar */
nav{
    display: flex;
    justify-content: center;
    gap: 34px;
    background-color: pink;
    color: white;
  }
  
  li{
    list-style: none;
    padding: 20px;
  }
  
  a li {
    color: black;
  }
  
  *{
    padding: 0;
    margin: 0;
  }
  
  /*Home*/
  .container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .university-cards {
    display: flex; 
    flex-wrap: wrap;
  }
  
  .university-card {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 10px;
    padding: 15px;
    width: 300px; 
    min-width: 250px; 
  }
  
  .university-card h3 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .university-card p {
    margin-bottom: 5px;
    text-align: center;
    font-size: 15px;
  }
  
  /* About */
  .about {
    padding: 40px;
    margin-bottom: 40px;
    background-color: lightgoldenrodyellow;
  }
  
  .about h2 {
    margin-bottom: 20px;
    font-size: 2em;
    text-align: center;
  }
  
  .about p {
    line-height: 1.5;
    font-size: 23px;
  }
  
  /*Login form*/
  .login-form {
    margin: 50px auto;
    width: 350px; 
    padding: 15px;
    border: 1px solid #ccc; 
  }
  
  h1 {
    text-align: center;
  }
  
  label {
    display: block; 
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%; 
    padding: 10px; 
    border: 1px solid gray; 
    margin-bottom: 10px;
    margin-left: -10px;
  }
  
  button[type="submit"] {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 120px;
  }
  
  /*Contact*/
  .contact {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .contact-info {
    margin: 0 auto;
    width: 50%;
  }
  
  .label, .value {
    display: inline-block;
    width: 120px;
    margin-bottom: 10px;
  }
  
  .value {
    font-weight: bold;
  }
  
  /*Terms*/
  .terms{
    margin: 50px;
    text-align: center;
  
  }
  
  /*Social*/
  .social-links{
    text-align: center;
    margin-top: 20px;
  }
  
  
  /*Fotter*/
  .footer {
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  