  /*Contact*/
  .contact {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .contact-info {
    margin: 0 auto;
    width: 50%;
  }
  
  .label, .value {
    display: inline-block;
    width: 120px;
    margin-bottom: 10px;
  }
  
  .value {
    font-weight: bold;
  }